.bodyBackground {
  background-image: url(../Pictures/p1.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transform: scaleX(-1);
  /* border: solid blue 2px; */
  height: 550px;
  width: 100%;
  z-index: 0;
}
.bodyContainer {
  display: flex;
  flex-direction: column;
  /* border: solid red 2px; */
  transform: scaleX(-1);
  height: 100%;
}
.bodyText {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid green 2px; */
  color: white;
  width: 30%;
  padding-left: 8%;
  padding-top: 2%;
  font-size: 70px;
  height: 70%;
  text-shadow: 2px 2px black;
}
.bodySearchBar {
  display: flex;
  /* border: solid black 2px; */
  height: 30%;
  justify-content: center;
  align-items: center;
}
.bodySearchBar input[type="text"] {
  /* border: solid red 2px; */
  padding: 25px;
  width: 450px;
  font-size: 20px;
}
.bodySearchBar button[type="submit"] {
  /* border: solid green 2px; */
  width: 200px;
  padding: 25px;
  font-size: 20px;
  background-color: black;
  color: white;
  transition: all 0.6s;
}
.bodySearchBar button[type="submit"]:hover {
  /* border: solid red 2px; */
  padding: 35px;
  transition: all 0.6s;
  cursor: pointer;
}
.popupContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: solid pink 2px; */
  padding: 5% 0%;
  height: 500px;
}
.popupOneContainer {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.popupOne {
  background-image: url(../Pictures/p2.jpeg);
  background-size: cover;
  background-position: center;
  /* border: solid red 2px; */
  z-index: -1;
  height: 80%;
}
.popupTwo {
  background-image: url(../Pictures/p10.jpeg);
  background-size: cover;
  background-position: center;
  /* border: solid green 2px; */
  z-index: -1;
  height: 80%;
}
.popupThree {
  background-image: url(../Pictures/p5.jpeg);
  background-size: cover;
  background-position: center;
  /* border: solid black 2px; */
  z-index: -1;
  height: 80%;
}
.popupOneText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: solid red 5px; */
  text-align: center;
  background-color: black;
  color: whitesmoke;
  height: 20%;
  font-size: 23px;
}
.popupOne,
.popupTwo,
.popupThree,
.popupOneText,
.popupTwoText,
.popupThreeText {
  transition: all ease-in-out 1.2s;
}

.popupOneContainer:hover .popupOne,
.popupOneContainer:hover .popupTwo,
.popupOneContainer:hover .popupThree {
  height: 25%;
  transition: all ease-in-out 1.5s;
}
.popupOneContainer:hover .popupOneText,
.popupOneContainer:hover .popupTwoText,
.popupOneContainer:hover .popupThreeText {
  transition: all ease-in-out 1.5s;
  height: 75%;
  opacity: 0.8;
  position: relative;
}

.popupHiddenText {
  display: none;
}
.popupOneContainer:hover .popupHiddenText {
  display: contents;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
}

@media screen and (max-width: 700px) {
  .bodyBackground {
    border: solid red 2px;
  }
}
